#main{
    width: 80%;
    margin: auto;
    padding: 20px;
   align-items: center;
    
}

button{
  padding: 12px 25px;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #1bad83;
  border-radius: 10px;
 background: linear-gradient(45deg, #1de9b6, #1dc4e9);


  color: #1bad83;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);

}
button:hover:hover{
  background: linear-gradient(45deg, #FF6FD8, #FF8E53);


  color: white;
  transform: scale(1.1);
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}